*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}

body {
  font-family: 'Balsamiq Sans', cursive;
  background-size: 100%;
	}

}
header{
width: 100%;
display: flex;
}




nav{
  background: #343434;
  left: 0;  /* Левый нижний угол */
z-index: 7;
text-align: left;
position: fixed; /* Фиксированное положение */
   padding: 30px; /* Поля вокруг текста */
   weight: bold;
   width: 100%; /* Ширина слоя */
}
.regular{
  margin-left: 25%;
}
.topnav a{
  color:#ffffff;
  text-align: left;
  margin-top: -3%;
  padding:  12px 0  10px 15px;
  transition: 0.3s linear;
  font-size: 21px;
  font-weight: 600;
  border-radius: 12px;

}
.topnav .icon{
  display: none;
}

.okey{
  top: 9px;
  right: 250px;
  position: fixed;
  background-repeat: no-repeat;
}

























#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {

  display: flex;
  align-items: center;
  position: fixed;
  top: 25px;
  left: 40px;

  width: 28px;
  height: 30px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
border-radius: 3px;
  width: 100%;
  height: 3.5px;

  background-color:#ffffff;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}


.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;;
  width: 135px;
  height: 130px;
border-bottom-right-radius: 70px;
  margin: 0;
  padding: 85px 55px;
  list-style: none;



  background-color: #333;
  box-shadow: 1px 0px 6px rgba(0, 0, 1, .2);

  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px ;

  color: #dddddd;

  font-family: 'Balsamiq Sans';
  font-size: 21px;
  font-weight: 900;

  text-decoration: inherit;

  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}













.bit{
  top:  25px;
    right: 25px;
    position: fixed;
    background-repeat: no-repeat;
}


a.button2, a.button2:before {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  border-bottom-left-radius: 20px;
  border-top-left-radius:70px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 80px;

  border: solid rgb(4,88,192);
  border-width: 3px 10px;
  outline: none;
  opacity: 1;
  transition: .6s, opacity 0s 9999999s, visibility 0s 9999999s;
}
a.button2 {
  position: relative;
  padding: calc(8px + 3px - 1px) calc(15px + 10px - 1px);
  border: 1px solid rgba(62,153,239,.5);
  background: linear-gradient(to left, rgb(62,153,239) 1%, #5733a0 3%, rgb(44,135,232) 8%, rgba(255,255,255,.3) 50%, rgb(44,135,232) 92%, #fff 97%, rgb(62,153,239) 99%) no-repeat;
}
a.button2:before {
  content:  "Войти";
  position:  absolute;
  bottom: -7px;
  left: -1px;
  width: calc(100% - (15px + 10px - 1px)*2);
  background: #fff linear-gradient(rgb(58,160,253), rgb(4,88,192) 60%, rgb(49,112,201));
  box-shadow: 0 10px 18px rgba(0,0,0,.5);
}
a.button2:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
a.button2:hover:before {
  border-color: #0766d8;
  background: #fff linear-gradient(#3fadff, #0766d8 60%, #3279dd);
}
a.button2:focus,
a.button2:active {
  -webkit-transform: scale(2, 2);
  transform: scale(1.5, 1.5);
  opacity: 0;
  visibility: hidden;
  transition: .4s;
}

























































.kiri4 {
bottom:  10px;
  left: 20px;
  position: fixed;
  background-repeat: no-repeat;
}
