* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}




.lang {
    position: relative;
    z-index: 1000;
    text-align: center;
    background: rgba(157, 157, 157, 0.3);
    perspective: 700px;
}

.lang_fixed {
    position: fixed;
    right: 110px;
    top: 10px;
}

.lang__link {
    cursor: pointer;
    transition: .3s all;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 2px;
    padding: 5px;
}

.lang__img {
    width: 32px;
    height: 20px;
    flex-shrink: 0;
    font-size: 10px;
    display: block;
    transition: .3s all;
}

.lang__link_sub:hover {
    filter: drop-shadow(0 0 3px rgb(136, 136, 136)) brightness(130%);
}


.lang__name {
    color: #737b84;
    font-size: 12px;
    line-height: 12px;
    flex-shrink: 0;
    text-transform: uppercase;
}

.lang__link_sub {
    width: 100%;
    height: auto;
    position: relative;
    padding: 0;
    margin-bottom: 10px;
}

.lang__list {
    background: rgba(157, 157, 157, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: .3s all;
    transform: rotateX(-90deg);
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 10;
    line-height: 13px;
    padding: 5px;
    transform-origin: center top;
    box-sizing: border-box;
}

.lang:hover .lang__list {
    opacity: 1;
    visibility: visible;
    transform: rotateX(0);
}

.lang__link_select {
    align-items: flex-start;
    text-align: center;
    font-size: 0;

}












html::-webkit-scrollbar{
  width: .6rem;
}

html::-webkit-scrollbar-track{
background: #000;
}



html::-webkit-scrollbar-thumb{
background: #55993c;
border-radius: 5rem;
}



.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: white;
  font-family: "Sen", sans-serif;
  z-index: 1000;
}

.logo-container {
  flex: 1;
}

.logo {
  font-size: 32px;
  color: #6be31b;
   -webkit-text-stroke: .03em #55993c;
  margin: 0 2rem;
  text-decoration: none;
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list a {
  margin: 0 0.6rem;
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
}



.menu-list a:hover{
transition: ease 0.8s;
color: #6be31b;
}




.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-text-container {
  margin: 0 20px;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  border: 3px solid #55993c;
}

.toggle-icon {
  color: goldenrod;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s ease all;
}

.sidebar {
  width: 50px;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  z-index: 1000;
}

.left-menu-icon {
  color: white;
  font-size: 20px;
  margin-bottom: 40px;
}
.left-menu-icon a{
  bottom: 1rem;
}
.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: white;
}

.content-container {
  margin-left: 50px;
}

.featured-content {
  height: 45vh;
  padding: 50px;
}


.featured-title {
  width: 200px;
}

.featured-desc {
  width: 60%;
  color: lightgray;
  margin: 30px 0;
  font-size: 25px;
}



.featured-button {
  background-color: #4dbf00;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
}
.featured-button:hover {
  background: #55993c;
  transition: ease 0.8s;
}



.joke{
  padding: 3rem 1rem 2rem;
}

.movie-list-container {
  padding: 0 20px;
}

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
}

.movie-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.movie-list-item {
  margin-right: 30px;
  position: relative;
}

.movie-list-title {
padding: 1rem;
font-size: 30px;
}


.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.1);
  margin: 0 30px;
  opacity: 0.5;
}


.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}

.movie-list-item-img {
  transition: all 1s ease-in-out;
  width: 320px;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
}

.movie-list-item-title {
  background-color: #333;
  padding: 0 5px;
  font-size: 19px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 38px;
}

.movie-list-item-desc {
  background-color: #333;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 30px;
  width: 270px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-button {
  padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 40px;
  opacity: 0;
  transition: 1s all ease-in-out;
}



.zatemnenie1 {
     background: rgba(105,105,105, 0.5);
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     display: none;
     z-index: 900;
   }
   .okno2 {
     width: 600px;
     height: 400px;
     text-align: center;
     padding: 15px;
     border: 3px solid #55993c;
     border-radius: 10px;
     color: #fcfcfc;
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     margin: auto;
     background: #141414;
     z-index: 900;
   }
   .okno3{
     text-align: left;
  padding: 1rem;
     color: #ccc;
     font-size: 20px;
   }
.zatemnenie1:target {display: block;}
.close1 {
  display: inline-block;
  border: 3px solid #55993c;
  border-radius: 10px;
  position: absolute;
right: 0;
bottom: 0;
  color: #141414;
  padding: 0 12px;
  margin: 10px;
  text-decoration: none;
  background: #e3e3e3;
  font-size: 14pt;
  cursor:pointer;
}
.close1:hover {background: #e6e6ff;}












.history{
  padding: 3rem 1rem 2rem;
  font-size: 25px;
}

.history-heading{
text-align: center;
margin: 1rem;
}

.history-box{
background: #333;
padding: 0.5rem;
}
.history-text{
  text-align: left;
padding: 0.5rem;
  color: #ccc;
  font-size: 20px;
}







.history-box.active{
background:#e9e9e9;
}
.history.active{
  color: #000;
}
.history-text.active{
color: #141414;
}












.timer-counter{
     -webkit-text-stroke: .05em #eee;
     color:#4dbf00;
     font-size:150%;
     font-weight:bold;
}
.timer h1{
padding: 2rem;
left: 10%;
font-size: 1.5rem;
color: #ccc;
}
.timer h1.active{
color: #000;
}
.timer-counter.active{
     -webkit-text-stroke: .05em #333;
}





.zatemnenie {
     background: rgba(105,105,105, 0.5);
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     display: none;
     z-index: 900;
   }
   .okno {
     width: 800px;
     height: 600px;
     text-align: center;
     padding: 15px;
     border: 3px solid #55993c;
     border-radius: 10px;
     color: #fcfcfc;
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     margin: auto;
     background: #141414;
     z-index: 900;
   }
   .okno1{
     text-align: left;
padding: 1rem;
     color: #ccc;
     font-size: 20px;
   }
   .zatemnenie:target {display: block;}
   .close {
     display: inline-block;
     border: 3px solid #55993c;
     border-radius: 10px;
     position: absolute;
right: 12px;
bottom: 12px;
     color: #141414;
     padding: 5px 15px;
     margin: 10px;
     text-decoration: none;
     background: #e3e3e3;
     font-size: 15pt;
     cursor:pointer;
     z-index: 900;
   }
   .close:hover {background: #e6e6ff;}






   .zatemnenie.active {
        background: rgba(51,51,51, 0.5);
      }
   .okno.active{
     width: 800px;
     height: 600px;
     text-align: center;
     padding: 15px;
     border: 3px solid #55993c;
     border-radius: 10px;
     color: #141414;
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     margin: auto;
     background: #cecece;
     z-index: 900;
   }

   .okno1.active{
color: #333;
   }

   .close.active {
     color: #eee;
     background: #333;
   }





      .zatemnenie1.active {
           background: rgba(51,51,51, 0.5);
         }
      .okno2.active{
        width: 600px;
        height: 400px;
        text-align: center;
        padding: 15px;
        border: 3px solid #55993c;
        border-radius: 10px;
        color: #141414;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background: #cecece;
        z-index: 900;
      }

      .okno3.active{
   color: #333;
      }

      .close1.active {
        color: #eee;
        background: #333;
      }








.arrow {
  font-size: 120px;
  position: absolute;
  top: 90px;
  right: 0;
  color: lightgray;
  -webkit-text-stroke: .03em #55993c;
  opacity: 0.8;
  cursor: pointer;
}

.container.active {
  background-color: white;
}

.movie-list-title.active {
  color: black;
}

.navbar-container.active {
  background-color: #ccc;

  color: black;
}

.navbar a.active {
  color: black;
  weight: bold;
}

.sidebar.active{
    background-color: #ccc;
}

.left-menu-icon.active{
    color: black;
}

.toggle.active{
    background-color: black;
}

.toggle-ball.active{
    background-color: white;
    transform: translateX(-20px);
}


.menu-list a:hover.active{
transition: ease 0.8s;
color: #55993c;

}


















@media only screen and (max-width: 940px){


  html::-webkit-scrollbar{
    width: .6rem;
  }

  html::-webkit-scrollbar-track{
  background: #000;
  }



  html::-webkit-scrollbar-thumb{
  background: #55993c;
  border-radius: 5rem;
  }








  .movie-list-item {
    margin-right: 30px;
    position: relative;
  }

  .movie-list-title {
  padding: 1rem;
  font-size: 30px;
  }


  .movie-list-item:hover .movie-list-item-img {
    transform: scale(1.1);
    margin: 0 30px;
    opacity: 0.5;
  }


  .movie-list-item:hover .movie-list-item-desc,
  .movie-list-item:hover .movie-list-item-button {
    opacity: 1;
  }

  .movie-list-item-img {
    transition: all 1s ease-in-out;
    width: 260px;
    height: 210px;
    object-fit: cover;
    border-radius: 20px;
  }

  .movie-list-item-title {
    background-color: #333;
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
  }

  .movie-list-item-desc {
    background-color: #333;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 30%;
    left: 30px;
    width: 270px;
    opacity: 0;
    transition: 1s all ease-in-out;
  }

  .movie-list-item-button {
    padding: 10px;
    background-color: #4dbf00;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 40px;

  }








  .menu-container{
      display: none;

  }

    .menu-list{
        font-size:20px;
        font-family: "Sen", sans-serif;
    }





    .movie-list-item-img {
      transition: all 1s ease-in-out;
      width: 270px;
      height: 200px;
      object-fit: cover;
      border-radius: 20px;
    }

    .movie-list-item-title {
      padding: 0 5px;
      font-size: 17px;
      font-weight: bold;
      position: absolute;
      top: 10%;
      left: 20px;
    }

    .movie-list-item-desc {
      padding: 7px;
      font-size: 15px;
      top: 30%;
      left: 20px;
      width: 200px;

    }

    .movie-list-item-button {
      padding: 7px;
      border-radius: 7px;
    }

    .arrow {
      font-size: 90px;
      top: 90px;

    }








    .featured-desc {
      width: 100%;
    }

    .zatemnenie {

         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
         display: none;
       }
       .okno {
         width: 50%;
         height: 40%;
    font-size: 60%;
       }
       .okno1{
       font-size: 80%;
       }

       .zatemnenie:target {display: block;}
       .close {
         font-size: 70%;
       }










       .zatemnenie1 {

            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
          }
          .okno2 {
            width: 80%;
            height: 40%;
       font-size: 80%;
          }
          .okno3{
          font-size: 100%;
          }

          .zatemnenie1:target {display: block;}
          .close {
            font-size: 70%;
          }

       .timer h1{
       font-size: 1rem;
       }


}







@media(max-width:768px){

      .featured-desc {
        width: 110%;
        font-size: 100%;
      }
      .zatemnenie {

           width: 100%;
           height: 100%;
           position: fixed;
           top: 0;
           left: 0;
           display: none;
         }
         .okno {
           width: 70%;
           height: 70%;
      font-size: 80%;
         }
         .okno1{
         font-size: 100%;
         }
         .zatemnenie:target {display: block;}
         .close {
           font-size: 70%;
         }



         .zatemnenie1 {

              width: 100%;
              height: 100%;
              position: fixed;
              top: 0;
              left: 0;
              display: none;
              z-index: 900;
            }
            .okno2 {
              width: 80%;
              height: 40%;
         font-size: 80%;
         z-index: 900;
            }
            .okno3 {
            font-size: 100%;
            }

            .zatemnenie1:target {display: block;}
            .close {
              font-size: 70%;
            }

         .timer h1{
         font-size: 1rem;
         }

.history{
  font-size: 16px;
}
.history-text{
  font-size: 14px;
}


  }












  .cssmenu,
  .cssmenu ul,
  .cssmenu ul li,
  .cssmenu ul li a,
  .cssmenu .menu-button {
    font-family: "Sen", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .cssmenu:after,
  .cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  .cssmenu .menu-button {
    display: none;
  }
  .cssmenu {
      font-family: "Sen", sans-serif;
  }
  .cssmenu > ul > li {
    float: left;
  }
  .cssmenu.align-center > ul {
    font-size: 0;
    text-align: center;
  }
  .cssmenu.align-center > ul > li {
    display: inline-block;
    float: none;
  }
  .cssmenu.align-center ul ul {
    text-align: left;
  }
  .cssmenu.align-right > ul > li {
    float: right;
  }
  .cssmenu > ul > li > a {
    padding: 17px;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fafafa;
    font-weight: 700;
    text-transform: uppercase;
  }



  .cssmenu > ul > li:hover > a {
    transition: ease 0.8s;
    color: #6be31b;
  }
  .cssmenu > ul > li.has-sub > a {
    padding-right: 30px;
  }
  .cssmenu > ul > li.has-sub > a:after {
    position: absolute;
    top: 22px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
  }
  .cssmenu > ul > li.has-sub > a:before {
    position: absolute;
    top: 19px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
  }
  .cssmenu > ul > li.has-sub:hover > a:before {
    top: 23px;
    height: 0;
  }
  .cssmenu ul ul {
    position: absolute;
    left: -9999px;
  }
  .cssmenu.align-right ul ul {
    text-align: right;
  }
  .cssmenu ul ul li {
    height: 0;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
  }
  .cssmenu li:hover > ul {
    left: auto;
  }
  .cssmenu.align-right li:hover > ul {
    left: auto;
    right: 0;
  }
  .cssmenu li:hover > ul > li {
    height: 35px;
  }
  .cssmenu ul ul ul {
    margin-left: 100%;
    top: 0;
  }
  .cssmenu.align-right ul ul ul {
    margin-left: 0;
    margin-right: 100%;
  }
  .cssmenu ul ul li a {
    border-bottom: 1px solid rgba(150, 150, 150, 0.15);
    padding: 11px 15px;
    width: 170px;
    font-size: 15px;
    text-decoration: none;
    color: #dddddd;
    font-weight: 500;
    background: #333333;
  }
  .cssmenu ul ul li a.active{
    border-bottom: 1px solid rgba(150, 150, 150, 0.15);
    color: #141414;
        font-weight: 600;
    background: #ccc;
  }
  .cssmenu ul ul li:last-child > a,
  .cssmenu ul ul li.last-item > a {
    border-bottom: 0;
  }
  .cssmenu ul ul li:hover > a,
  .cssmenu ul ul li a:hover {
    transition: ease 0.8s;
    color: #6be31b;
  }
  .cssmenu ul ul li.has-sub > a:after {
    position: absolute;
    top: 16px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
  }
  .cssmenu.align-right ul ul li.has-sub > a:after {
    right: auto;
    left: 11px;
  }
  .cssmenu ul ul li.has-sub > a:before {
    position: absolute;
    top: 13px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
  }
  .cssmenu.align-right ul ul li.has-sub > a:before {
    right: auto;
    left: 14px;
  }
  .cssmenu ul ul > li.has-sub:hover > a:before {
    top: 17px;
    height: 0;
  }
  @media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    .cssmenu {
      width: 100%;
    }
    .cssmenu ul {
      width: 100%;
      display: none;
    }
    .cssmenu.align-center > ul {
      text-align: left;
    }
    .cssmenu ul li {
      width: 100%;
      border-top: 1px solid rgba(120, 120, 120, 0.2);
    }
    .cssmenu ul ul li,
    .cssmenu li:hover > ul > li {
      height: auto;
    }
    .cssmenu ul li a,
    .cssmenu ul ul li a {
      width: 100%;
      border-bottom: 0;
    }
    .cssmenu > ul > li {
      float: none;
    }
    .cssmenu ul ul li a {
      padding-left: 25px;
    }
    .cssmenu ul ul ul li a {
      padding-left: 35px;
    }
    .cssmenu ul ul li a {
      color: #dddddd;
      background: none;
    }
    .cssmenu ul ul li:hover > a,
    .cssmenu ul ul li.active > a {
      color: #ffffff;
    }
    .cssmenu ul ul,
    .cssmenu ul ul ul,
    .cssmenu.align-right ul ul {
      position: relative;
      left: 0;
      width: 100%;
      margin: 0;
      text-align: left;
    }
    .cssmenu > ul > li.has-sub > a:after,
    .cssmenu > ul > li.has-sub > a:before,
    .cssmenu ul ul > li.has-sub > a:after,
    .cssmenu ul ul > li.has-sub > a:before {
      display: none;
    }
    .cssmenu .menu-button {
      display: block;
      padding: 17px;
      color: #dddddd;
      cursor: pointer;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 700;
    }
    .cssmenu .menu-button:after {
      position: absolute;
      top: 22px;
      right: 17px;
      display: block;
      height: 4px;
      width: 20px;
      border-top: 2px solid #dddddd;
      border-bottom: 2px solid #dddddd;
      content: '';
    }
    .cssmenu .menu-button:before {
      position: absolute;
      top: 16px;
      right: 17px;
      display: block;
      height: 2px;
      width: 20px;
      background: #dddddd;
      content: '';
    }
    .cssmenu .menu-button.menu-opened:after {
      top: 23px;
      border: 0;
      height: 2px;
      width: 15px;
      background: #ffffff;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .cssmenu .menu-button.menu-opened:before {
      top: 23px;
      background: #ffffff;
      width: 15px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    .cssmenu .submenu-button {
      position: absolute;
      z-index: 99;
      right: 0;
      top: 0;
      display: block;
      border-left: 1px solid rgba(120, 120, 120, 0.2);
      height: 46px;
      width: 46px;
      cursor: pointer;
    }
    .cssmenu .submenu-button.submenu-opened {
      background: #262626;
    }
    .cssmenu ul ul .submenu-button {
      height: 34px;
      width: 34px;
    }
    .cssmenu .submenu-button:after {
      position: absolute;
      top: 22px;
      right: 19px;
      width: 8px;
      height: 2px;
      display: block;
      background: #dddddd;
      content: '';
    }
    .cssmenu ul ul .submenu-button:after {
      top: 15px;
      right: 13px;
    }
    .cssmenu .submenu-button.submenu-opened:after {
      background: #ffffff;
    }
    .cssmenu .submenu-button:before {
      position: absolute;
      top: 19px;
      right: 22px;
      display: block;
      width: 2px;
      height: 8px;
      background: #dddddd;
      content: '+';
    }
    .cssmenu ul ul .submenu-button:before {
      top: 12px;
      right: 16px;
    }
    .cssmenu .submenu-button.submenu-opened:before {
      display: none;
    }
  }




















  @media(max-width:450px){

      .featured-desc {
        width: 110%;
      }
      .zatemnenie {

           width: 100%;
           height: 100%;
           position: fixed;
           top: 0;
           left: 0;
           display: none;
         }
         .okno {
           width: 70%;
           height: 60%;
      font-size: 70%;
         }
         .okno1{
         font-size: 120%;
         }
         .zatemnenie:target {display: block;}
         .close {
           font-size: 100%;
         }


  }






    @media(max-width:370px){
      html{
        font-size: 60%;
      }
        .featured-desc {
          width: 110%;
        }
        .zatemnenie {

             width: 100%;
             height: 100%;
             position: fixed;
             top: 0;
             left: 0;
             display: none;
           }
           .okno {
             width: 70%;
             height: 60%;
        font-size: 60%;
           }
           .okno1{
           font-size: 100%;
           }
           .zatemnenie:target {display: block;}
           .close {
             font-size: 100%;
           }


    }
